@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --weact-gold: #f6c343;
  --weact-purple: #8e44ad;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --weact-gold: #f6c343;
    --weact-purple: #8e44ad;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
